# dependencias
/node_modules
/.pnp
.pnp.*

# build
/.next/
/out/
/build
next-env.d.ts

# service worker generado por Serwist
/public/sw.js
/public/sw.js.map
/public/swe-worker-*.js

# entorno — NUNCA subir
.env
.env.local
.env.*.local

# tests
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# despliegue
.vercel

# typescript
*.tsbuildinfo

# sistema
.DS_Store
Thumbs.db
desktop.ini
